<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册用户</title>
</head>
<body style="text-align: center">
<div>
    <form method="post" action="/user/create">
        <input hidden type="text" th:value="${token}" name="token" >
        <label>名字：</label><input name="name" type="text" placeholder="请输入名字">
        <label>年纪：</label><input name="age" type="number" placeholder="请输入年纪">
        <input type="submit" value="注册">
    </form>
</div>

</body>
</html>