<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.idempotentdemo2.mapper.UserMapper">

    <update id="updateAge">

        update user set age = age + 1,version = version +1  where id = #{id} and version = #{version}

    </update>
</mapper>
